# Bankrupcy challenge

In [2]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)
# optional
import seaborn as sns; sns.set()

## Insertion des donn√©es

In [15]:
train = pd.read_table("../Data_competition/X_train.txt", sep=',',header=None)
test = pd.read_table("../Data_competition/X_test.txt",sep=',',header=None)
header=pd.read_csv("../Data_competition/header.csv",sep=',',header=None)

In [14]:
train.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50
0,0.491722,1.264287,-0.158577,-0.150768,1.087627,0.157166,-1.053879,-1.116961,NaN,NaN,NaN,NaN,NaN,-0.235758,NaN,NaN,0.107888,NaN,NaN,-0.047326,-0.399256,0.024927,NaN,NaN,NaN,NaN,NaN,0.164409,NaN,NaN,0.066269,NaN,NaN,NaN,NaN,NaN,NaN,-0.262937,NaN,NaN,0.887558,NaN,NaN,NaN,NaN,NaN,5.284473,NaN,NaN,NaN,2011.0
1,-0.249351,0.046088,-0.040435,0.105421,-1.098919,0.289237,-0.338154,0.129297,0.807200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.008015,-0.736507,NaN,-0.417189,NaN,NaN,NaN,-0.657171,NaN,NaN,NaN,NaN,0.445685,NaN,NaN,NaN,NaN,-0.329228,NaN,NaN,NaN,NaN,0.468655,NaN,0.527339,-0.291376,NaN,NaN,NaN,NaN,NaN,2011.0
2,0.986824,-0.189678,0.059693,0.010147,0.777260,-1.051633,-1.011747,-0.756690,NaN,0.874877,-0.273440,0.086508,0.688904,0.011214,NaN,NaN,-0.327590,NaN,0.154479,NaN,0.956582,NaN,NaN,NaN,1.195586,NaN,NaN,NaN,NaN,NaN,0.286557,NaN,NaN,-1.309222,NaN,0.296849,0.264740,NaN,0.513461,NaN,0.404907,-0.271227,NaN,0.995816,0.004617,0.48018,NaN,-0.105363,NaN,NaN,2011.0
3,-0.265990,-0.517960,-0.114526,-0.073818,1.889234,-0.161217,-0.947844,-0.650268,-0.712451,NaN,0.126789,0.596843,NaN,NaN,NaN,NaN,NaN,NaN,-0.081760,NaN,NaN,NaN,-0.455399,-0.077836,NaN,0.271222,NaN,NaN,NaN,0.465727,NaN,NaN,NaN,-1.189501,NaN,NaN,NaN,NaN,NaN,0.117178,NaN,NaN,-0.378151,NaN,NaN,NaN,NaN,NaN,-0.755457,-0.526293,2011.0
4,0.199900,-0.095447,0.263825,0.040790,-1.125166,-1.318912,-0.887661,-1.202686,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.624526,0.983099,-1.652295,NaN,NaN,NaN,NaN,NaN,-2.776458,-0.118833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.424390,-0.568337,-0.180425,NaN,NaN,NaN,NaN,NaN,NaN,-0.535741,2011.0

In [20]:
header.drop(header.columns[[2]], axis=1)

     0                    1                                    3
0    0            Liquidity                                  NaN
1    1                   x1  (Cash+Mark.Sec)/Current Liabilities
2    2                   x2          (Cash+Mark.Sec)/Total Sales
3    3                   x3                  Cash/Current Assets
4    4                   x4                    Cash/Total Assets
5    5                   x5   Current Assets/Current Liabilities
6    6                   x6          Current Assets/Total Assets
7    7                   x7     Current Liabilities/Total Assets
8    8                   x8      Current Liabilities/Total Sales
9    9                   x9             Inventories/Total Assets
10  10                  x10     Quick Assets/Current Liabilities
11  11                  x11            Quick Assets/Total Assets
12  12                  x12         Working Capital/Total Assets
13  13                  x13          Working Capital/Total Sales
14  14             Solvency                                  NaN
15  15                  x14             Financial Debt/Cash Flow
16  16                  x15            Financial Expenses/EBITDA
17  17                  x16        Financial Expenses/Net Income
18  18                  x17      Financial Expenses/Total Assets
19  19                  x18       Financial Expenses/Value Added
20  20        Profitability                                  NaN
21  21                  x19          Cash Flow/Shareholder Funds
22  22                  x20               Cash Flow/Total Assets
23  23                  x21               EBIT/Shareholder Funds
24  24                  x22                    EBIT/Total Assets
25  25                  x23              EBITDA/Permanent Equity
26  26                  x24                  EBITDA/Total Assets
27  27                  x25         Net Income/Shareholder Funds
28  28                  x26              Net Income/Total Assets
29  29                  x27  Profit before Tax/Shareholder Funds
30  30  Financial Structure                                  NaN
31  31                  x28     Long Term Debt/Shareholder Funds
32  32                  x29          Long Term Debt/Total Assets
33  33                  x30     Net Op.Work.Capital/Total Assets
34  34                  x31   Shareholder Funds/Permanent Equity
35  35                  x32       Shareholder Funds/Total Assets
36  36                  x33         Total Debt/Shareholder Funds
37  37                  x34              Total Debt/Total Assets
38  38             Activity                                  NaN
39  39                  x35                Cash Flow/Total Sales
40  40                  x36                Cash Flow/Value Added
41  41                  x37                     EBIT/Value Added
42  42                  x38                   EBITDA/Total Sales
43  43                  x39     Gross Trading Profit/Total Sales
44  44                  x40               Net Income/Total Sales
45  45                  x41               Net Income/Value Added
46  46                  x42             Value Added/Fixed Assets
47  47                  x43             Value Added/Total Assets
48  48                  x44              Value Added/Total Sales
49  49             Turnover                                  NaN
50  50                  x45         Accounts Payable/Total Sales
51  51                  x46           Current Assets/Total Sales
52  52                  x47              Inventories/Total Sales
53  53                  x48      Net.Op.Work.Capital/Total Sales
54  54                  x49              Receivables/Total Sales
55  55                  x50             Total Sales/Total Assets
56  56                 Year                                  NaN
57  57                  x51                  year of measurement